In [6]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB

In [13]:
data=pd.read_csv("Youtube01-Psy.csv")
data.sample(5)

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
181,z13neh044nq2wn0o404citkh2taufzqxuz40k,Mason Sieverding,2014-11-07T01:50:10,Please check out my vidios﻿,1
160,z12scr5ixnexwh2xa04civ3o3k25dr3wkfw,Freddie Barton,2014-11-06T15:31:35,CHECK MY CHANNEL FOR MY NEW SONG 'STATIC'!! YO...,1
267,z12cwnzbunaji14ah04cf3jizmzpz3igxj4,CHILD,2014-11-08T05:46:31,WHY DOES THIS HAVE 2 BILLION VIEWS THIS SONG I...,0
18,z12qth5j0ob1fx3q404chvy4fz32tbkpllk0k,Tony K Frazier,2013-11-28T23:57:13,http://ubuntuone.com/40beUutVu2ZKxK4uTgPZ8K﻿,1
7,z122wfnzgt30fhubn04cdn3xfx2mxzngsl40k,Bob Kanowski,2013-11-28T12:33:27,i turned it on mute as soon is i came on i jus...,0

In [15]:
data=data[["CONTENT","CLASS"]]

In [17]:
data.sample(5)

                                               CONTENT  CLASS
305                  please throw a sub on my channel﻿      1
297  Please help me go to college guys! Thanks from...      1
193  How are there 2 billion views and theres only ...      0
182                             OPPA GANGNAM STYLE!!!﻿      0
110  EHI GUYS CAN YOU SUBSCRIBE IN MY CHANNEL? I AM...      1

In [18]:
replace=data["CLASS"].replace({0:"Not Spam",1:"Spam"})
data["CLASS"]=replace

In [22]:
data.sample(5)

                                               CONTENT     CLASS
111  Hi everyone! Do you like music? Then why not c...      Spam
78   -----&gt;&gt;&gt;&gt;  https://www.facebook.co...      Spam
64         the most viewed youtube video of all time?﻿  Not Spam
21                  subscribe to my channel people :D﻿      Spam
290                          2 billion for this shit?﻿  Not Spam

In [40]:
x=np.array(data["CONTENT"])
y=np.array(data["CLASS"])

cv=CounterVectorizer()
x=cv.fit_transform(x)

## Splitting the Data:

In [42]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [49]:
model=BernoulliNB()
model.fit(xtrain,ytrain)
print(model.score(xtest,ytest))

0.9857142857142858

In [50]:
sample = "Check this out: https://thecleverprogrammer.com/" 
data = cv.transform([sample]).toarray()
print(model.predict(data))

['Spam']

In [66]:
sample = "my video" 
data = cv.transform([sample]).toarray()
print(model.predict(data))

['Not Spam']